@page
@model Todo.Pages_TodoItems.IndexModel

@{
  ViewData["Title"] = "Tarefas";
}

<h1>Tarefas</h1>

<p>
  <a asp-page="Create">Nova tarefa</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.TodoItem[0].Done)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.TodoItem[0].Title)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.TodoItem)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Done)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
          <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
          <a asp-page="./Details" asp-route-id="@item.Id">Detalhes</a> |
          <a asp-page="./Delete" asp-route-id="@item.Id">Excluir</a>
        </td>
      </tr>
    }
  </tbody>
</table>
